.header {
    box-shadow: $shadow;

    .button {
        max-width: 15% !important;
        text-align: center;
        font-size: 1rem !important;
    }
}

.logo {
    font-family: $WorkSans;
    color: $blackSecondary;
    &:hover {
        color: $blackTertiary;
    }
}

.logo-heading {
    font-size: 2.5rem;
}