// Colors
$blackPrimary: #111;
$blackSecondary: #222;
$blackTertiary: #666;
$grey: rgb(68, 68, 68);
$lightGrey: #eee;
// Fonts
$WorkSans: 'Work Sans', sans-serif;
$Rosarivo: 'Rosarivo', serif;
$Roboto: 'Roboto', sans-serif;
// box shadow that I like to use
$shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);

// Mixin I like, below comment shows how to use it
// @include border-radius(0.5rem);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}