html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*My reset*/
*::before, *, *::after {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: top; }

button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0; }

/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5; }

body {
  line-height: 1.5; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  font-size: 1rem; }

/*Align text*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*Flex properties*/
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-start {
  display: flex;
  align-items: flex-start; }

[class*="grid-"] {
  display: grid;
  grid-gap: 15px; }

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr); }

/* Center child*/
.center-child {
  display: grid;
  place-items: center; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem; }

body {
  font-family: "Roboto", sans-serif;
  background: #eee; }

input {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0.75rem 0.25rem;
  font-family: "Roboto", sans-serif; }
  input:focus {
    box-shadow: 0 10px 15px -10px rgba(68, 68, 68, 0.3);
    color: #444444; }

.button {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  text-align: center !important;
  padding: 0.75rem 1.5rem !important;
  font-size: 1.25rem !important;
  background: #222;
  color: #eee;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem; }
  .button:hover {
    background: #666;
    box-shadow: 0 10px 15px -10px rgba(68, 68, 68, 0.3);
    color: #eee; }

.header {
  box-shadow: 0 10px 15px -10px rgba(68, 68, 68, 0.3); }
  .header .button {
    text-align: center;
    font-size: 0.75rem !important; }
  .header .header-button {
    max-width: 50% !important; }

.logo {
  font-family: "Work Sans", sans-serif;
  color: #222; }
  .logo:hover {
    color: #666; }

.logo-heading {
  font-size: 2.5rem; }

.login-wrapper {
  display: block; }

.form-control {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  min-width: 35%;
  max-width: 40%;
  box-shadow: 0 10px 15px -10px rgba(68, 68, 68, 0.3);
  padding-bottom: 2rem; }

.form-header {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background: #444444;
  color: #eee;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0; }
  .form-header h2 {
    font-size: 1.5rem; }

.login {
  flex-direction: column; }
  .login a {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.75rem;
    text-align: right; }

.login-button {
  width: fit-content !important; }

.goto-signup {
  margin: 1rem 0;
  text-align: center;
  width: 100%; }

.signup-wrapper {
  display: none; }

.signup {
  flex-direction: column; }

.myblog {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Rosarivo", serif;
  box-shadow: 0 10px 15px -10px rgba(68, 68, 68, 0.3);
  margin-bottom: 1rem; }
  .myblog header {
    padding: 1rem; }

.read {
  width: 10% !important;
  font-size: 1rem !important;
  padding: 0.5rem !important; }

.blog div {
  flex-direction: column; }

.blog textarea {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.15rem; }
